.world {
  width: 1920px;
  height: 1080px;
}

/* 전체적인 레이아웃 */

.TWcontainer {
  width: 1920px;
  height: 1080px;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TWcontent {
  width: 1824px;
  height: 918px;
  display: flex;
}

.simple {
  position: relative;
  width: 547.2px;
  height: 918px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 64px;
  background-color: #50ff38;
  background-image: 
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px); /* 모눈종이 패턴 적용 */
  background-size: 40px 40px; /* 모눈종이 패턴 크기 조정 */
  background-position: 50% 38%;
  z-index: 0;
}

.detail {
  width: 1313.28px;
  height: 918px;
  display: flex;
  flex-direction: row;
}

/* simple 디자인 */

/* simple 세부 레이아웃 */
.introduction {
  width: 547.2px;
  height: 367.2px;
  padding: 90px 0 0 0;
} /* 한줄소개 */

.img {
  width: 421.344px;
  height: 421.344px;
} /* 소개용이미지 */

/* introduction 디자인 */
.introduction p {
  font-size: 40px;
  padding: 0 0 34.5px 0;
  font-weight: 600;
}

.big {
  font-size: 64px;
  font-weight: 800;
  z-index: 100;
}

.introShadow {
  position: absolute;
  width: 433px;
  height: 86px;
  background: black;
  top: 311px;
  left: 67.5px;
  z-index: -1;
  border-radius: 0.5rem;
}

.span {
  color: rgb(8, 8, 8);
  background: white;
  padding: 0 10px 0 10px;
  border-radius: 0.5rem;
  outline: 2px solid black;
}

/* 소개용이미지 디자인*/

.me {
  background-image: url("../image/outlineqwer.png");
  background-position: 50% 70%;
  background-repeat: no-repeat;
  width: 505.6128px;
  height: 421.344px;
}

.twLogo {
  position: absolute;
  width: 540px;
  height: 45.9px;
  bottom: 5px;
  display: flex;
  justify-content: end;
}

.twGithub {
  width: 45px;
  height: 45px;
  z-index: 1000;
  background: white;
  border-radius: 22.5px;
  margin: 0 0 15px 0;
}

.githubImg {
  width: 45px;
  height: 45px;
}

.twInsta {
  width: 47px;
  height: 47px;
  z-index: 1000;
  margin: 0 5px 0 5px;
}

.InstaImg {
  width: 47px;
  height: 47px;
}


/* detail 디자인 */

/* detail 세부 레이아웃 */
.h1 {
  color: rgb(51, 136, 34);
  font-size: 50px;
  margin: 0 0 40px 0;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 900;
  /* border-radius: 0.5rem;
  outline: 2px solid black; */
  /* background: linear-gradient(to right, #092006,#123a0d, #50ff38); */
  background: linear-gradient(to right, #d8d5d5, #d4d3d3, rgb(240, 238, 238),rgb(245, 245, 245));
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  padding: 0 0 0 5px;
}

.firLine {
  position: relative;
  width: 787.968px;
  height: 918px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  position: relative;
}

.secLine {
  position: relative;
  width: 787.968px;
  height: 918px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  z-index: 0;
}

.textEmp {
  background: #e4ff36;
}
/* about me 디자인 */

.aboutMe {
  width: 390px;
  height: 368.2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
} /* 나에 대한 간단한 정보 */

.aboutMe p {
  font-weight: 1000;
  font-size: 25px;
  padding: 0 0 22px 0;
}

/* hobby 디자인 */

.hobby {
  position: relative;
  width: 390px;
  height: 300px;
} /* 취미 */

.hobby p {
  font-weight: 600;
  font-size: 25px;
  padding: 0 0 22px 0;
}

/* techStack 디자인 */

.techStack {
  position: relative;
  width: 390px;
  height: 300px;
} /* 기술스택 */

.techStackImg {
  width: 400px;
  height: 75px;
  background-image: url(../image//TSimg-removebg-preview.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 계기 디자인 */

.meter {
  position: relative;
  top: -17px;
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  left: 10%;
} /* 개발을 하게 된 계기 */

.meter h1 {
  margin: 75px 0 35px 0;
}

.meter p {
  font-weight: 600;
  font-size: 23px;
  padding: 0 0 20px 0;
  line-height: 27px;
}

.TWmbti {
  position: relative;
  left: 10%;
  width: 60%;
  height: 60%;
} /* mbti */

.ENTJ {
  font-size: 25px;
  font-weight: 800;
}

.TWmbti p {
  font-weight: 600;
  font-size: 25px;
  padding: 0 0 20px 0;
}

.mbtiImg {
  width: 125%;
  height: 65%;
  background-image: url("../image/TWmbti.png");
  background-position: -20% 50%;
  background-size: contain; 
  background-repeat: no-repeat;
  z-index: 100;
}