@import url("https://fonts.googleapis.com/css2?family=Do Hyeon:wght@300&display=swap");

.body {
  width: 1920px;
  height: 1080px;
  background-color: rgb(245, 245, 245);
}
img {
  max-width: 100%;
  max-height: 100%;
}
.SideTextDiv {
  padding: 5%;
  width: 25%;
  height: 95%;
  float: left;
}
.url {
  float: right;
  margin-top: 60px;
  margin-right: 20px;
}
.SideText {
  font-family: "Do Hyeon";
  font-size: 40px;
  margin: auto;
}
.SideTextSpan {
  background-color: #e9846a;
}
.dainImg {
  margin-top: 20px;
  height: 600px;
  width: 650px;
}
.rogo {
  margin-top: 30px;
  height: 100px;
  width: 450px;
}
.Info {
  padding-top: 5%;
  padding-left: 5%;
  width: 25%;
  float: left;
  height: 85%;
  position: relative;
  /* background-color: blue; */
}
.InfoTo {
  padding-left: 70px;
  padding-top: 5%;
  width: 25%;
  float: left;
  height: 85%;
  position: relative;
  /* background-color: blue; */
}
.MainText {
  margin-top: 5%;
  margin-bottom: 10px;
  color: #e9846a;
  font-size: 30px;
  font-family: "Do Hyeon";
  font-weight: bold;
}
.MainToText {
  margin-top: 25%;
  margin-bottom: 15px;
  color: #e9846a;
  font-size: 30px;
  font-family: "Do Hyeon";
  font-weight: bold;
}
.InfoToText {
  margin-top: 25%;
  margin-bottom: 15px;
  color: #e9846a;
  font-size: 30px;
  font-family: "Do Hyeon";
  font-weight: bold;
}
.text {
  font-size: 18px;
}
.rightText {
  color: #e9846a;
  font-size: 30px;
  font-family: "Do Hyeon";
  font-weight: bold;
  text-align: right;
}
.mbti {
  padding-top: 30px;
  height: 280px;
  width: 450px;
}
