body {
  width: 1920px;
  height: 1080px;
  background-color: rgb(245, 245, 245);
}
.dain {
  width: 1920px;
  height: 1080px;
}
.yeji {
  width: 1920px;
  height: 1080px;
}
.taeung {
  width: 1920px;
  height: 1080px;
}
.jinho {
  width: 1920px;
  height: 1080px;
}